<button class="view-table btn">
	<i class="glyphicon glyphicon-th-large"></i>
	<span>View as table.</span>
</button>
<button class="view-list btn">
	<i class="glyphicon glyphicon-th-list"></i>
	<span>View as list.</span>
</button>
<button class="view-search btn">
	<i class="glyphicon glyphicon-search"></i>
	<span>View search.</span>
</button>
<button class="view-filters btn">
	<i class="glyphicon glyphicon-filter"></i>
	<span>View filters.</span>
</button>
<button class="view-operations btn">
	<i class="glyphicon glyphicon-wrench"></i>
	<span>View operations.</span>
</button>