<button class="view-table btn">
	<i class="glyphicon glyphicon-th-large"></i>
	<span>View as table.</span>
</button>
<button class="view-list btn">
	<i class="glyphicon glyphicon-th-list"></i>
	<span>View as list.</span>
</button>
<button class="view-map btn">
	<i class="glyphicon glyphicon-move"></i>
	<span>View as map.</span>
</button>
<button class="view-map btn">
	<i class="glyphicon glyphicon-filter"></i>
	<span>View filters.</span>
</button> 
<button class="view-overview btn" 
	ng-click="activateOverview(reference, viewType);">
	<i class="glyphicon glyphicon-info-sign"></i>
	<span>View overviews.</span>
</button>